{
  "extends": "eslint-config-airbnb",
  "plugins": ["jsx-a11y", "import", "react"],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest": true
  },
  "globals": {
    "__DEV__": true
  },
  "rules": {
    "func-names": "off",
    "indent": ["error", 2],
    "max-len": ["error", { "code": 200, "tabWidth": 2 }],
    "comma-dangle": [
      "error",
      {
        "arrays": "ignore",
        "objects": "ignore",
        "imports": "never",
        "exports": "never",
        "functions": "never"
      }
    ],
    "key-spacing": [
      "error",
      {
        "multiLine": {
          "beforeColon": false,
          "afterColon": true
        },
        "align": {
          "beforeColon": true,
          "afterColon": true,
          "on": "colon"
        }
      }
    ],
    "eol-last": "off",
    "import/prefer-default-export": "off"
  }
}
