@import "~react-big-calendar/lib/css/react-big-calendar.css";

.toolbar {
  .toolbar-label {
    font-size: 1.5em;
    color: #019d9d;
  }

  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: 8px;
  margin-left: 8px;
}

.rbc-month-view {
  border: 0;

  .rbc-month-row {
    flex-basis: 9em;
  }

  .rbc-day-bg {
    border-top: 2px solid #e8e8e8;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    margin-right: 8px;
    margin-left: 8px;
  }

  .rbc-today {
    border-top: 2px solid #1890ff;
    background-color: #e6f7ff;
  }

  .rbc-month-row + .rbc-month-row {
    border-top: 0;
  }

  .rbc-off-range-bg {
    background: #e6f7ff;
  }

  .rbc-day-bg + .rbc-day-bg {
    border-left: 0;
  }

  .rbc-date-cell {
    margin-top: 3px;
    margin-right: 8px;
  }

  .rbc-date-cell.rbc-now {
    color: #1890ff;
  }

  .rbc-header {
    text-align: right;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    margin-right: 8px;
    margin-left: 8px;

    span {
      font-size: 1.2em;
      font-weight: 400;
    }
  }

  .rbc-header + .rbc-header {
    border-left: 0;
  }
}

.rbc-agenda-view {
  overflow: visible;
}

.ant-modal-confirm-body .ant-modal-confirm-content {
  margin-top: 24px;
  margin-left: 0;
}
